
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout2</title>
</head>
<body>
    <div>
        <b><a href="https://www.youtube.com/watch?v=97eD8jXiWvA">Sao khong </a></b>
        <br />
        Trang web ...
        <br />
        <b>
            <a href="http://dantri.com.vn"> Dan trí</a> |
            <a href="http://24h.com.vn"> 24h.com.vn</a> |
            <a href="http://vnexpress.net"> vnexpress.net</a> |
            <a href="http://dantri.com.vn"> Dan trí</a> |
        </b>
    </div>
    <div>
        <hr />
        @RenderBody()
    </div>
    <div>
    </div>
</body>
</html>
