
@{
    ViewBag.Title = "ViewPicture";
}

<h2>ViewPicture</h2>


<img src="~/UploadedFiles/@ViewBag.Message" width="150" height="150" />
<br />

Kích cỡ ảnh: @ViewBag.Message1
<br>
Kiểu định dạng: @ViewBag.Message2