
@{
    ViewBag.Title = "Index_EN";
}

<h2>Index_EN</h2>
<h4> đây là tiếng anh</h4>
<form>

    <select name="lang">
        <option value="vi" selected> Vietnam</option>
        <option value="en" > UK</option>
    </select> <br />
    <input type="submit" value="submit" />
</form>
