
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "EnCode", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            <span>Text: </span> @Html.TextBox("text")
            <br /> <br />
            <input type="submit" name="submit" value="submit" />
            <br />
            <h4>Base64 Encode : @TempData["Mes"]</h4>
        </div>
    </div>
}


