
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method ="post" action="/Show/ShowData">
    name : <input name = "svName" value = "Minh ming"  /> <br/> <br/> 
    email : <input name ="svEmail" value ="minh@gmail.com" /> <br/> <br/> 
    phone: <input name = "svPhone" value= "0983909820"   /> <br/> <br />
    <input type = "submit" value="truyền data sang view khác"/>
</form>

